<h1>{{ 'reset.email_title'|trans }}</h1>

<p>{{ 'reset.email_intro'|trans({ '%username%': username }) }}</p>

<p>
    <a href="{{ resetUrl }}">{{ 'reset.email_button'|trans }}</a>
</p>

<p>{{ 'reset.email_expiry'|trans }}</p>
<p>{{ 'reset.email_ignore'|trans }}</p>

<p>{{ 'email.confirm_cheers'|trans }}</p>
