<h1>{{ 'email.confirm_title'|trans }}</h1>

<p>
    {{ 'email.confirm_body'|trans }} <br><br>
    <a href="{{ signedUrl }}">{{ 'email.confirm_link'|trans }}</a>.
    {{ 'email.confirm_expires'|trans({ '%duration%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }) }}
</p>

<p>
    {{ 'email.confirm_cheers'|trans }}
</p>
